In [158]:
import seaborn as sns 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader.data as web
import datetime as dt
from scipy.optimize import minimize

Get data

In [159]:
# Define the start and end dates of stock prices
def get_data(name, start,end):
    # download data 
    df = web.DataReader(name, 'yahoo', start, end)
    df = df.sort_values(by='Date')
    return df

In [156]:
start_date = dt.datetime(2011, 1, 1)
end_date = dt.datetime(2022, 9, 1)
GM = get_data("GM", start=start_date, end=end_date)
VIX = get_data("^VIX", start=start_date, end=end_date)
SP = get_data("^GSPC", start=start_date, end=end_date)
NASDAQ = get_data("^IXIC", start=start_date, end=end_date)
GOLD = get_data("GC=F", start=start_date, end=end_date)
OIL = get_data("CL=F", start=start_date, end=end_date)

In [160]:
target_move = GM[["Adj Close"]].pct_change(1)
target_move

            Adj Close
Date
2011-01-03        NaN
2011-01-04   0.022666
2011-01-05   0.004485
2011-01-06   0.021802
2011-01-07   0.002057
...               ...
2022-08-26  -0.028720
2022-08-29   0.007137
2022-08-30  -0.007357
2022-08-31  -0.023511
2022-09-01   0.009160

[2937 rows x 1 columns]

In [161]:
GM_Volume = GM[["Volume"]]
GM_Volume

                Volume
Date
2011-01-03  24874900.0
2011-01-04  32363400.0
2011-01-05  22503900.0
2011-01-06  38556900.0
2011-01-07  19901100.0
...                ...
2022-08-26  16179500.0
2022-08-29  13408900.0
2022-08-30  15090600.0
2022-08-31  15390300.0
2022-09-01  11370800.0

[2937 rows x 1 columns]

In [162]:
VIX = VIX[["Close"]]
VIX

                Close
Date
2011-01-03  17.610001
2011-01-04  17.379999
2011-01-05  17.020000
2011-01-06  17.400000
2011-01-07  17.139999
...               ...
2022-08-26  25.559999
2022-08-29  26.209999
2022-08-30  26.209999
2022-08-31  25.870001
2022-09-01  25.559999

[2937 rows x 1 columns]

In [163]:
SP = SP[["Adj Close"]]
SP

              Adj Close
Date
2011-01-03  1271.869995
2011-01-04  1270.199951
2011-01-05  1276.560059
2011-01-06  1273.849976
2011-01-07  1271.500000
...                 ...
2022-08-26  4057.659912
2022-08-29  4030.610107
2022-08-30  3986.159912
2022-08-31  3955.000000
2022-09-01  3966.850098

[2937 rows x 1 columns]

In [164]:
NASDAQ = NASDAQ[["Adj Close"]]
NASDAQ

               Adj Close
Date
2011-01-03   2691.520020
2011-01-04   2681.250000
2011-01-05   2702.199951
2011-01-06   2709.889893
2011-01-07   2703.169922
...                  ...
2022-08-26  12141.709961
2022-08-29  12017.669922
2022-08-30  11883.139648
2022-08-31  11816.200195
2022-09-01  11785.129883

[2937 rows x 1 columns]

In [165]:
GOLD = GOLD[["Adj Close"]]
GOLD

              Adj Close
Date
2011-01-03  1422.599976
2011-01-04  1378.500000
2011-01-05  1373.400024
2011-01-06  1371.400024
2011-01-07  1368.500000
...                 ...
2022-08-29  1736.599976
2022-08-30  1723.199951
2022-08-31  1712.800049
2022-09-01  1696.599976
2022-09-02  1709.800049

[2936 rows x 1 columns]

In [166]:
OIL = OIL[["Adj Close"]]
OIL

            Adj Close
Date
2011-01-03  91.550003
2011-01-04  89.379997
2011-01-05  90.300003
2011-01-06  88.379997
2011-01-07  88.029999
...               ...
2022-08-29  97.010002
2022-08-30  91.639999
2022-08-31  89.550003
2022-09-01  86.610001
2022-09-02  86.870003

[2938 rows x 1 columns]

In [167]:
rolling_10 = GM[['Adj Close']].rolling(10).mean().shift() 
rolling_20 = GM[['Adj Close']].rolling(20).mean().shift()

In [168]:
rolling_10 = rolling_10.rolling(10).mean()
rolling_10

            Adj Close
Date
2011-01-03        NaN
2011-01-04        NaN
2011-01-05        NaN
2011-01-06        NaN
2011-01-07        NaN
...               ...
2022-08-26  38.186118
2022-08-29  38.371894
2022-08-30  38.532527
2022-08-31  38.666913
2022-09-01  38.789399

[2937 rows x 1 columns]

In [169]:

df = GM_Volume.merge(VIX,how = "left",left_index=True, right_index=True).merge(SP,left_index=True, right_index=True).merge(NASDAQ,left_index=True, right_index=True).merge(GOLD,left_index=True, right_index=True).merge(OIL,left_index=True, right_index=True).merge(rolling_10,left_index=True, right_index=True).merge(target_move,left_index=True, right_index=True)
df

/var/folders/4_/0p3l6m0x22qdsjwms8cj48sm0000gn/T/ipykernel_1820/4012165594.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Adj Close_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = GM_Volume.merge(VIX,how = "left",left_index=True, right_index=True).merge(SP,left_index=True, right_index=True).merge(NASDAQ,left_index=True, right_index=True).merge(GOLD,left_index=True, right_index=True).merge(OIL,left_index=True, right_index=True).merge(rolling_10,left_index=True, right_index=True).merge(target_move,left_index=True, right_index=True)
/var/folders/4_/0p3l6m0x22qdsjwms8cj48sm0000gn/T/ipykernel_1820/4012165594.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Adj Close_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = GM_Volume.merge(VIX,how = "left",left_index=True, right_index=True).merge(SP,left_index=True, right_index=True).merge(NASDAQ,left_index=True, right_index=True).merge(GOLD,left_index=True, right_index=True).merge(OIL,left_index=True, right_index=True).merge(rolling_10,left_index=True, right_index=True).merge(target_move,left_index=True, right_index=True)

,Volume,Close,Adj Close_x,Adj Close_y,Adj Close_x,Adj Close_y,Adj Close_x,Adj Close_y
Date,,,,,,,,
2011-01-03,24874900.0,17.610001,1271.869995,2691.520020,1422.599976,91.550003,NaN,NaN
2011-01-04,32363400.0,17.379999,1270.199951,2681.250000,1378.500000,89.379997,NaN,0.022666
2011-01-05,22503900.0,17.020000,1276.560059,2702.199951,1373.400024,90.300003,NaN,0.004485
2011-01-06,38556900.0,17.400000,1273.849976,2709.889893,1371.400024,88.379997,NaN,0.021802
2011-01-07,19901100.0,17.139999,1271.500000,2703.169922,1368.500000,88.029999,NaN,0.002057
...,...,...,...,...,...,...,...,...
2022-08-26,16179500.0,25.559999,4057.659912,12141.709961,1736.099976,93.059998,38.186118,-0.028720
2022-08-29,13408900.0,26.209999,4030.610107,12017.669922,1736.599976,97.010002,38.371894,0.007137
2022-08-30,15090600.0,26.209999,3986.159912,11883.139648,1723.199951,91.639999,38.532527,-0.007357
2022-08-31,15390300.0,25.870001,3955.000000,11816.200195,1712.800049,89.550003,38.666913,-0.023511
2022-09-01,11370800.0,25.559999,3966.850098,11785.129883,1696.599976,86.610001,38.789399,0.009160

In [170]:
df.columns = ["GM Volume","VIX","SP","NASDAQ","GOLD","OIL","rolling_10","target_move",]
df

,GM Volume,VIX,SP,NASDAQ,GOLD,OIL,rolling_10,target_move
Date,,,,,,,,
2011-01-03,24874900.0,17.610001,1271.869995,2691.520020,1422.599976,91.550003,NaN,NaN
2011-01-04,32363400.0,17.379999,1270.199951,2681.250000,1378.500000,89.379997,NaN,0.022666
2011-01-05,22503900.0,17.020000,1276.560059,2702.199951,1373.400024,90.300003,NaN,0.004485
2011-01-06,38556900.0,17.400000,1273.849976,2709.889893,1371.400024,88.379997,NaN,0.021802
2011-01-07,19901100.0,17.139999,1271.500000,2703.169922,1368.500000,88.029999,NaN,0.002057
...,...,...,...,...,...,...,...,...
2022-08-26,16179500.0,25.559999,4057.659912,12141.709961,1736.099976,93.059998,38.186118,-0.028720
2022-08-29,13408900.0,26.209999,4030.610107,12017.669922,1736.599976,97.010002,38.371894,0.007137
2022-08-30,15090600.0,26.209999,3986.159912,11883.139648,1723.199951,91.639999,38.532527,-0.007357
2022-08-31,15390300.0,25.870001,3955.000000,11816.200195,1712.800049,89.550003,38.666913,-0.023511
2022-09-01,11370800.0,25.559999,3966.850098,11785.129883,1696.599976,86.610001,38.789399,0.009160

In [171]:
df.head(30)

,GM Volume,VIX,SP,NASDAQ,GOLD,OIL,rolling_10,target_move
Date,,,,,,,,
2011-01-03,24874900.0,17.610001,1271.869995,2691.520020,1422.599976,91.550003,NaN,NaN
2011-01-04,32363400.0,17.379999,1270.199951,2681.250000,1378.500000,89.379997,NaN,0.022666
2011-01-05,22503900.0,17.020000,1276.560059,2702.199951,1373.400024,90.300003,NaN,0.004485
2011-01-06,38556900.0,17.400000,1273.849976,2709.889893,1371.400024,88.379997,NaN,0.021802
2011-01-07,19901100.0,17.139999,1271.500000,2703.169922,1368.500000,88.029999,NaN,0.002057
2011-01-10,18341600.0,17.540001,1269.750000,2707.800049,1373.699951,89.250000,NaN,-0.010775
2011-01-11,14856500.0,16.889999,1274.479980,2716.830078,1384.000000,91.110001,NaN,0.004928
2011-01-12,16773900.0,16.240000,1285.959961,2737.330078,1385.699951,91.860001,NaN,-0.003355
2011-01-13,11358300.0,16.389999,1283.760010,2735.290039,1386.900024,91.400002,NaN,-0.009063
2011-01-14,5894200.0,15.460000,1293.239990,2755.300049,1360.400024,91.540001,NaN,-0.001829
2011-01-18,8918200.0,15.870000,1295.020020,2765.850098,1368.099976,91.379997,NaN,-0.004450
2011-01-19,12667700.0,17.309999,1281.920044,2725.360107,1370.199951,90.860001,NaN,-0.016566
2011-01-20,15844900.0,17.990000,1280.260010,2704.290039,1346.500000,88.860001,NaN,-0.005882
2011-01-21,9548500.0,18.469999,1283.349976,2689.540039,1341.000000,89.110001,NaN,0.001614
2011-01-24,12202800.0,17.650000,1290.839966,2717.550049,1344.500000,87.870003,NaN,0.010741
2011-01-25,12318700.0,17.590000,1291.180054,2719.250000,1332.300049,86.190002,NaN,0.020191
2011-01-26,11534600.0,16.639999,1296.630005,2739.500000,1333.000000,87.330002,NaN,-0.013281
2011-01-27,13950000.0,16.150000,1299.540039,2755.280029,1318.400024,85.639999,NaN,0.020586
2011-01-28,37134600.0,20.040001,1276.339966,2686.889893,1340.699951,89.339996,NaN,-0.053530
2011-01-31,13954800.0,19.530001,1286.119995,2700.080078,1333.800049,92.190002,29.381329,-0.003005
2011-02-01,28091600.0,17.629999,1307.589966,2751.189941,1339.599976,90.769997,29.321412,-0.001096
2011-02-02,17434700.0,17.299999,1304.030029,2749.560059,1331.500000,90.860001,29.241831,-0.021125
2011-02-03,19350000.0,16.690001,1307.099976,2753.879883,1352.300049,90.540001,29.152842,0.010650
2011-02-04,11115000.0,15.930000,1310.869995,2769.300049,1348.300049,89.029999,29.062080,0.014698
2011-02-07,7328800.0,16.280001,1319.050049,2783.989990,1347.599976,87.480003,28.979106,0.003006
2011-02-08,6243000.0,15.810000,1324.569946,2797.050049,1363.400024,86.940002,28.899216,0.005177
2011-02-09,6399300.0,15.870000,1320.880005,2789.070068,1364.800049,86.709999,28.808917,-0.013012
2011-02-10,11542400.0,16.090000,1321.869995,2790.449951,1361.900024,86.730003,28.713836,-0.014556
2011-02-11,13508300.0,15.690000,1329.150024,2809.439941,1359.900024,85.580002,28.596855,0.015886
2011-02-14,7121200.0,15.950000,1332.319946,2817.179932,1364.599976,84.809998,28.491596,-0.004390

Preprocessing

In [172]:
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

In [173]:
df.loc[df["target_move"] > 0, "direction"] = int(1)
df.loc[df["target_move"] < 0, "direction"] = int(0)
df

,GM Volume,VIX,SP,NASDAQ,GOLD,OIL,rolling_10,target_move,direction
Date,,,,,,,,,
2011-01-03,24874900.0,17.610001,1271.869995,2691.520020,1422.599976,91.550003,NaN,NaN,NaN
2011-01-04,32363400.0,17.379999,1270.199951,2681.250000,1378.500000,89.379997,NaN,0.022666,1.0
2011-01-05,22503900.0,17.020000,1276.560059,2702.199951,1373.400024,90.300003,NaN,0.004485,1.0
2011-01-06,38556900.0,17.400000,1273.849976,2709.889893,1371.400024,88.379997,NaN,0.021802,1.0
2011-01-07,19901100.0,17.139999,1271.500000,2703.169922,1368.500000,88.029999,NaN,0.002057,1.0
...,...,...,...,...,...,...,...,...,...
2022-08-26,16179500.0,25.559999,4057.659912,12141.709961,1736.099976,93.059998,38.186118,-0.028720,0.0
2022-08-29,13408900.0,26.209999,4030.610107,12017.669922,1736.599976,97.010002,38.371894,0.007137,1.0
2022-08-30,15090600.0,26.209999,3986.159912,11883.139648,1723.199951,91.639999,38.532527,-0.007357,0.0
2022-08-31,15390300.0,25.870001,3955.000000,11816.200195,1712.800049,89.550003,38.666913,-0.023511,0.0
2022-09-01,11370800.0,25.559999,3966.850098,11785.129883,1696.599976,86.610001,38.789399,0.009160,1.0

In [174]:
df = df.dropna()
df

,GM Volume,VIX,SP,NASDAQ,GOLD,OIL,rolling_10,target_move,direction
Date,,,,,,,,,
2011-01-31,13954800.0,19.530001,1286.119995,2700.080078,1333.800049,92.190002,29.381329,-0.003005,0.0
2011-02-01,28091600.0,17.629999,1307.589966,2751.189941,1339.599976,90.769997,29.321412,-0.001096,0.0
2011-02-02,17434700.0,17.299999,1304.030029,2749.560059,1331.500000,90.860001,29.241831,-0.021125,0.0
2011-02-03,19350000.0,16.690001,1307.099976,2753.879883,1352.300049,90.540001,29.152842,0.010650,1.0
2011-02-04,11115000.0,15.930000,1310.869995,2769.300049,1348.300049,89.029999,29.062080,0.014698,1.0
...,...,...,...,...,...,...,...,...,...
2022-08-26,16179500.0,25.559999,4057.659912,12141.709961,1736.099976,93.059998,38.186118,-0.028720,0.0
2022-08-29,13408900.0,26.209999,4030.610107,12017.669922,1736.599976,97.010002,38.371894,0.007137,1.0
2022-08-30,15090600.0,26.209999,3986.159912,11883.139648,1723.199951,91.639999,38.532527,-0.007357,0.0
2022-08-31,15390300.0,25.870001,3955.000000,11816.200195,1712.800049,89.550003,38.666913,-0.023511,0.0
2022-09-01,11370800.0,25.559999,3966.850098,11785.129883,1696.599976,86.610001,38.789399,0.009160,1.0

Use n-1 date data to predict n day data. So remove last day of predicted variables and first day

In [175]:
X = df.drop(columns=["direction", "target_move"])
X

,GM Volume,VIX,SP,NASDAQ,GOLD,OIL,rolling_10
Date,,,,,,,
2011-01-31,13954800.0,19.530001,1286.119995,2700.080078,1333.800049,92.190002,29.381329
2011-02-01,28091600.0,17.629999,1307.589966,2751.189941,1339.599976,90.769997,29.321412
2011-02-02,17434700.0,17.299999,1304.030029,2749.560059,1331.500000,90.860001,29.241831
2011-02-03,19350000.0,16.690001,1307.099976,2753.879883,1352.300049,90.540001,29.152842
2011-02-04,11115000.0,15.930000,1310.869995,2769.300049,1348.300049,89.029999,29.062080
...,...,...,...,...,...,...,...
2022-08-26,16179500.0,25.559999,4057.659912,12141.709961,1736.099976,93.059998,38.186118
2022-08-29,13408900.0,26.209999,4030.610107,12017.669922,1736.599976,97.010002,38.371894
2022-08-30,15090600.0,26.209999,3986.159912,11883.139648,1723.199951,91.639999,38.532527
2022-08-31,15390300.0,25.870001,3955.000000,11816.200195,1712.800049,89.550003,38.666913
2022-09-01,11370800.0,25.559999,3966.850098,11785.129883,1696.599976,86.610001,38.789399

In [176]:
X = X.drop(labels="2022-09-01", axis=0)
X

,GM Volume,VIX,SP,NASDAQ,GOLD,OIL,rolling_10
Date,,,,,,,
2011-01-31,13954800.0,19.530001,1286.119995,2700.080078,1333.800049,92.190002,29.381329
2011-02-01,28091600.0,17.629999,1307.589966,2751.189941,1339.599976,90.769997,29.321412
2011-02-02,17434700.0,17.299999,1304.030029,2749.560059,1331.500000,90.860001,29.241831
2011-02-03,19350000.0,16.690001,1307.099976,2753.879883,1352.300049,90.540001,29.152842
2011-02-04,11115000.0,15.930000,1310.869995,2769.300049,1348.300049,89.029999,29.062080
...,...,...,...,...,...,...,...
2022-08-25,15211900.0,21.780001,4199.120117,12639.269531,1757.699951,92.519997,37.965721
2022-08-26,16179500.0,25.559999,4057.659912,12141.709961,1736.099976,93.059998,38.186118
2022-08-29,13408900.0,26.209999,4030.610107,12017.669922,1736.599976,97.010002,38.371894
2022-08-30,15090600.0,26.209999,3986.159912,11883.139648,1723.199951,91.639999,38.532527
2022-08-31,15390300.0,25.870001,3955.000000,11816.200195,1712.800049,89.550003,38.666913

In [177]:
len(X)

2887

In [178]:
y = df["direction"]
y

Date
2011-01-31    0.0
2011-02-01    0.0
2011-02-02    0.0
2011-02-03    1.0
2011-02-04    1.0
             ...
2022-08-26    0.0
2022-08-29    1.0
2022-08-30    0.0
2022-08-31    0.0
2022-09-01    1.0
Name: direction, Length: 2888, dtype: float64

In [179]:
y = y.drop(labels="2011-01-31", axis=0)
y

Date
2011-02-01    0.0
2011-02-02    0.0
2011-02-03    1.0
2011-02-04    1.0
2011-02-07    1.0
             ...
2022-08-26    0.0
2022-08-29    1.0
2022-08-30    0.0
2022-08-31    0.0
2022-09-01    1.0
Name: direction, Length: 2887, dtype: float64

In [180]:
len(y)

2887

Split train test dataset

In [181]:
X_train = X.iloc[:int(len(X)*0.9),:]
X_train

,GM Volume,VIX,SP,NASDAQ,GOLD,OIL,rolling_10
Date,,,,,,,
2011-01-31,13954800.0,19.530001,1286.119995,2700.080078,1333.800049,92.190002,29.381329
2011-02-01,28091600.0,17.629999,1307.589966,2751.189941,1339.599976,90.769997,29.321412
2011-02-02,17434700.0,17.299999,1304.030029,2749.560059,1331.500000,90.860001,29.241831
2011-02-03,19350000.0,16.690001,1307.099976,2753.879883,1352.300049,90.540001,29.152842
2011-02-04,11115000.0,15.930000,1310.869995,2769.300049,1348.300049,89.029999,29.062080
...,...,...,...,...,...,...,...
2021-07-01,11752100.0,15.480000,4319.939941,14522.379883,1775.900024,75.230003,60.359692
2021-07-02,9689700.0,15.070000,4352.339844,14639.330078,1782.599976,75.160004,60.099786
2021-07-06,16155600.0,16.440001,4343.540039,14663.639648,1793.500000,73.370003,59.887870
2021-07-07,13077600.0,16.200001,4358.129883,14665.059570,1801.500000,72.199997,59.696806
2021-07-08,14087400.0,19.000000,4320.819824,14559.780273,1799.599976,72.940002,59.525996

In [182]:
X_test = X.iloc[2598:2887,:]
X_test

,GM Volume,VIX,SP,NASDAQ,GOLD,OIL,rolling_10
Date,,,,,,,
2021-07-09,24361300.0,16.180000,4369.549805,14701.919922,1810.000000,74.559998,59.341118
2021-07-12,14513200.0,16.170000,4384.629883,14733.240234,1805.500000,74.099998,59.156439
2021-07-13,14604200.0,17.120001,4369.209961,14677.650391,1809.400024,75.250000,58.970364
2021-07-14,12520500.0,16.330000,4374.299805,14644.950195,1824.300049,73.129997,58.806638
2021-07-15,12103400.0,17.010000,4360.029785,14543.129883,1828.400024,71.650002,58.654385
...,...,...,...,...,...,...,...
2022-08-25,15211900.0,21.780001,4199.120117,12639.269531,1757.699951,92.519997,37.965721
2022-08-26,16179500.0,25.559999,4057.659912,12141.709961,1736.099976,93.059998,38.186118
2022-08-29,13408900.0,26.209999,4030.610107,12017.669922,1736.599976,97.010002,38.371894
2022-08-30,15090600.0,26.209999,3986.159912,11883.139648,1723.199951,91.639999,38.532527
2022-08-31,15390300.0,25.870001,3955.000000,11816.200195,1712.800049,89.550003,38.666913

In [183]:
y_train = y.iloc[:int(len(X)*0.9)]
y_train

Date
2011-02-01    0.0
2011-02-02    0.0
2011-02-03    1.0
2011-02-04    1.0
2011-02-07    1.0
             ...
2021-07-02    0.0
2021-07-06    0.0
2021-07-07    0.0
2021-07-08    0.0
2021-07-09    1.0
Name: direction, Length: 2598, dtype: float64

In [184]:
y_test = y.iloc[2598:2887]
y_test

Date
2021-07-12    1.0
2021-07-13    0.0
2021-07-14    0.0
2021-07-15    0.0
2021-07-16    0.0
             ...
2022-08-26    0.0
2022-08-29    1.0
2022-08-30    0.0
2022-08-31    0.0
2022-09-01    1.0
Name: direction, Length: 289, dtype: float64

Feature Selection

In [185]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [191]:
# StandardScaler
transfer = StandardScaler()
X_train_StandardScaler = transfer.fit_transform(X_train)
X_test_StandardScaler = transfer.transform(X_test)
pd.DataFrame(X_test_StandardScaler)

            0         1         2         3         4         5         6
0    1.350960 -0.207339  2.843586  3.029125  1.688505  0.277704  3.533975
1    0.076026 -0.208688  2.863993  3.039966  1.668901  0.258194  3.512141
2    0.087806 -0.080537  2.843126  3.020726  1.685891  0.306970  3.490142
3   -0.181949 -0.187105  2.850014  3.009408  1.750800  0.217053  3.470785
4   -0.235947 -0.095375  2.830702  2.974167  1.768661  0.154281  3.452785
..        ...       ...       ...       ...       ...       ...       ...
284  0.166479  0.548080  2.612946  2.315229  1.460669  1.039454  1.006843
285  0.291745  1.057988  2.421511  2.143021  1.366573  1.062358  1.032900
286 -0.066937  1.145670  2.384905  2.100089  1.368751  1.229892  1.054864
287  0.150776  1.145670  2.324751  2.053528  1.310376  1.002130  1.073855
288  0.189575  1.099806  2.282583  2.030360  1.265071  0.913486  1.089743

[289 rows x 7 columns]

In [ ]:
# MinMaxScaler
transfer = MinMaxScaler(feature_range=[2,3])
X_train_minmax = transfer.fit_transform(X_train)

# Build model 
# Model 1 Randon Forest

In [195]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, plot_roc_curve
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error

In [271]:
def RandomForest(X_train,X_test, y_train, y_test):
    estimator = RandomForestClassifier(random_state=42)
    para_dict = {"max_depth": [5,8,15,25,30], "n_estimators":[120,200,300]}
    estimator = GridSearchCV(estimator, para_dict, cv = 3)
    estimator.fit(X_train,y_train)
    predicted = estimator.predict(X_test)

    #5:
    #print("confusion_matrix: \n",pd.DataFrame(confusion_matrix(y_test, predicted)))
    print("accuracy_score: \n", accuracy_score(y_test, predicted))
    print("\n")
    #6:
    print("best_parameters\n", estimator.best_params_)
    print("best_estimator_\n", estimator.best_estimator_)
    print("mean_squared_error",np.sqrt(mean_squared_error(y_test, predicted)))
    #print("best_score\n", estimator.best_score_)
    #print("cv_results_\n", estimator.cv_results_)
    return None

In [272]:
RandomForest(X_train_StandardScaler,X_test_StandardScaler, y_train, y_test)

accuracy_score:
 0.5467128027681661


best_parameters
 {'max_depth': 8, 'n_estimators': 300}
best_estimator_
 RandomForestClassifier(max_depth=8, n_estimators=300, random_state=42)
mean_squared_error 0.673266067191741

# Model 2 KNN next

In [273]:
from sklearn.neighbors import KNeighborsClassifier

In [274]:
def knn_(X_train,X_test, y_train, y_test):
    """
    Use KNN
    """
    #4:fit etimator
    estimator = KNeighborsClassifier(n_neighbors=11)
    estimator.fit(X_train, y_train)
    
    #5:model evaluation
    y_predict = estimator.predict(X_test)
    print("Accuracy Score\n", accuracy_score(y_test, y_predict))
    #print(confusion_matrix(y_predict, y_test))
    #print(pd.DataFrame(y_predict))
    return None

In [275]:
knn_(X_train_StandardScaler,X_test_StandardScaler, y_train, y_test)

Accuracy Score
 0.4913494809688581

# Model 3 XGboost

In [225]:
from xgboost import XGBClassifier

In [232]:
def xgb(X_train,X_test,y_train,y_test):
    xgboost = XGBClassifier(base_score=0.5, booster='gbtree')
    xgboost.fit(X_train, y_train)
    preds = xgboost.predict(X_test)
    rmse = np.sqrt(mean_squared_error(y_test, preds))
    print("accuracy:\n",accuracy_score(y_test, preds))
    print("RMSE: %f" % (rmse))

In [276]:
xgb(X_train_StandardScaler,X_test_StandardScaler, y_train, y_test)

accuracy:
 0.5536332179930796
RMSE: 0.668107

In [277]:
def xgb_2(X_train,X_test,y_train,y_test):
    param_test1 = {
    'max_depth':[i for i in range(3,10,2)],
    'min_child_weight':[i for i in range(1,6,2)]}
    gsearch = GridSearchCV(
    estimator = XGBClassifier(
    learning_rate =0.1,
    n_estimators=140, max_depth=5,
    min_child_weight=1,
    gamma=0,
    subsample=0.8,
    colsample_bytree=0.8,
    objective= 'binary:logistic',
    nthread=4,
    scale_pos_weight=1,
    seed=27),
    param_grid = param_test1,
    scoring='roc_auc',
    n_jobs=4,
    cv=5)
    gsearch.fit(X_train,y_train)
    predicted = gsearch.predict(X_test)
    #print("confusion_matrix: \n",pd.DataFrame(confusion_matrix(y_test, predicted)))
    print("accuracy_score: \n", accuracy_score(y_test, predicted))
    print("\n")
    print("best_parameters\n", gsearch.best_params_)
    print("mean_squared_error",np.sqrt(mean_squared_error(y_test, predicted)))
    #print("best_score\n", gsearch.best_score_)
    #print("best_estimator_\n", gsearch.best_estimator_)
    #print("cv_results_\n", estimator.cv_results_)
    return None

In [278]:
xgb_2(X_train_StandardScaler,X_test_StandardScaler, y_train, y_test)

accuracy_score:
 0.5155709342560554


best_parameters
 {'max_depth': 3, 'min_child_weight': 3}
mean_squared_error 0.6960093862470137

# Model 4 SVM

In [279]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
def svm(X_train,X_test,y_train,y_test):
    clf = make_pipeline(StandardScaler(), SVC(gamma='auto'))
    clf.fit(X_train, y_train)
    predicted = clf.predict(X_test)
    print("accuracy:\n",accuracy_score(y_test, predicted))
    return None

In [280]:
svm(X_train_StandardScaler,X_test_StandardScaler, y_train, y_test)

accuracy:
 0.5051903114186851

In [283]:
def svm_cross_validation(X_train,X_test,y_train,y_test):    
    from sklearn.model_selection import GridSearchCV 
    model = SVC(kernel='rbf', probability=True)    
    param_grid = {'C': [1e-3, 1e-2, 1e-1, 1, 10, 100, 1000], 'gamma': [0.001, 0.0001]}    
    grid_search = GridSearchCV(model, param_grid, n_jobs = 8, verbose=1)    
    grid_search.fit(X_train, y_train)    
    best_parameters = grid_search.best_estimator_.get_params()     
    model = SVC(kernel='rbf', C=best_parameters['C'], gamma=best_parameters['gamma'], probability=True)    
    model.fit(X_train, y_train)
    predicted = model.predict(X_test) 
    #print("confusion_matrix: \n",pd.DataFrame(confusion_matrix(y_test, predicted)))
    print("accuracy_score: \n", accuracy_score(y_test, predicted))
    return None

In [284]:
svm_cross_validation(X_train_StandardScaler,X_test_StandardScaler, y_train, y_test)

Fitting 5 folds for each of 14 candidates, totalling 70 fits
accuracy_score:
 0.4740484429065744